*{
    margin: 0;
    padding: 0;
}
body{
    background-color: beige;
}
.pic{
    display: inline-block;
    margin: 1.5%;
    border: 5px solid slateblue;
    font-size: 2em;
}

.rec{
    display: inline-block;
    justify-content: end;
    position: fixed;
    bottom: 60%;
}

#rec{
    font-size:1.5em ;
    text-decoration: none;
    color:#0808 ;
    transition: 0.37s;
}
#rec:hover{
    font-size: 2em;
    color: #900;
}
#rec:active{
    color: violet;
}